/*index page*/

body {
    background-color:mediumturquoise;
  }

h1 {
    color: black;
    text-align: center;
    font: italic bold Calibri, sans-serif;
}

p {
    font-family: "Calibri", Calibri, sans-serif;
    color: black;
}

h3 {
    color: black;
    font-family: "Calibri", Calibri, sans-serif;
}

a:link {
    color: #cc66ff
}

a:hover {
    color: #ff0066
}

a:active {
    color: #77ff33
}

a:visted {
    color: #ff5500
}


/*Pet Food*/

h1 {
    color: black;
    font-family: "Calibri", Calibri, sans-serif;
}

h2 {
    color: black;
    font-family: "Calibri", Calibri, sans-serif;
}

table {
    border-collapse: collapse;
    font-family: "Calibri", Calibri, sans-serif;
}

table,
th,
td {
    border: 3px solid black;
    font-family: "Calibri", Calibri, sans-serif;
}

th {
    background-color: mediumpurple;
    color: black;
    font-family: "Calibri", Calibri, sans-serif;
}

td,
tr {
    color: black;
    font-family: "Calibri", Calibri, sans-serif;
}


/*Contact Us*/

p {
    text-align: "center";
    color: black;
}
